/*
---------------------
Basic Font setup
---------------------

*/

html{
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

a:link{
  color: green;
}

a:visited{
  color: pink;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:700');
